/* Form Container */
body {
  background-color: rgb(0, 0, 0);
  color: rgb(7, 33, 56);
}

.form-container {
  background-image: url('portfolio-3.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  margin-top: 2%;
  margin-left: 10%;
  display: flex;
  background-color: #2e293d;
  border-radius: 10px;
  padding: 25px;
}

/* Form */
.gfg {
  display: block;
}

/* Labels */
label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: hsl(138, 92%, 50%);
}

/* Input and Select Fields */
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
}

/* Radio Buttons */
.radio-group {
  margin: 15%;
}

input[type=radio] {
  margin-right: 8px;
}

/* Submit Button */
.btn {
  background-color: #565a5c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Hover Effect on Submit Button */
.btn:hover {
  background-color: #0f0d22;
}

/* Predicted Result Text */
.prediction {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #d44f1a;
}

span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #d44f1a;
}

@media (min-width: 768px) {
  .gfg {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .gfg {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .gfg {
    width: 25%;
  }
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin: 8px 16px 8px 0;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
} */